@using Simple_E_Commerce.Data.Models
@model Order
@{
    ViewData["Title"] = "Your Cart";
}

@if(Model != null)
{
    <table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.OrderDetails)
        {
            <tr>
                <td>@item.Product.ProductName</td>
                <td>@item.Quantity</td>
                <td>@(item.Quantity * item.Price)</td>
                <td>
                    <a asp-action="RemoveCart" asp-route-detailId="@item.DetailId">Remove</a>
                </td>
            </tr>
        }
    </tbody>

</table>
<h5>Total Price : @Model.OrderDetails.Sum(s=> s.Quantity * s.Price))</h5>

}
else
{
    <div class="alert alert-danger">
        There is no purchase invoice..!
    </div>
}
